.title-bar {
  width: 100%;
  background: #19222a;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

.title {
  font-size: 12px;
  color: #7b7b7b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.controls {
  -webkit-app-region: no-drag;
  margin-right: 15px;
}

.controls button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  margin-right: 8px;
  outline: none;
}

.close {
  background: #ff605c;
}

.min {
  background: #ffbd44;
}

.max {
  background: #00ca4e;
}
