.title-bar {
  width: 100%;
  background: #19222a;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

.title {
  font-size: 16px;

  color: #919191;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.controls {
  -webkit-app-region: no-drag;
  margin-right: 15px;
}

.controls button {
  height: 18.5px;
  width: 18px;
  border-radius: 30%;
  border: none;
  margin-right: 4px;
  outline: none;
}

.close {
  background: #ff605c;
}

.min {
  background: #ffbd44;
}

.close:hover {
  background: #ff120e;
  cursor: pointer;
}

.min:hover {
  background: #ffa600;
  cursor: pointer;
}