body {
  background-color: transparent;
  color: #eee;
  text-align: center;
  font-family: sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app-wrapper {
  position: relative;
  background: #253240;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.padding {
  padding: 25px 40px 45px;
}

.form {
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 3px solid #f3f3f3;
  background: #f3f3f3;
  border-radius: 3px;
}

.form>input {
  flex: 1;
  border: none;
  font-size: 18px;
  color: #333;
  background: #f3f3f3;
  font-weight: 500;
}

.form>select {
  border: none;
  outline: none;
  background: #f3f3f3;
  padding: 0 5px;
  font-size: 16px;
  color: #888;
  margin-right: 5px;

}

.form>button {
  background: rgb(255, 159, 42);
  border: none;
  color: #eee;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.form>button:disabled {
  filter: grayscale(50%);
  cursor: progress;
}

.form>button img {
  filter: invert(1);
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.form>input,
.form>button {
  padding: 20px;
  outline: none;

}

.display {
  font-size: 18px;
  font-weight: 550;

  background: rgba(255, 255, 255, 0.025);
  margin-bottom: 25px;
  border-radius: 3px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.display>p {
  padding: 5px;
  position: relative;
  color: #888;


}

.download-btn:hover {
  background-color: #ff6600;
  cursor: pointer;
}