@import '../../styles/variables';

.searchBar {
  width: 100%;
  display: flex;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 8px;
  overflow: hidden;
}

input:focus::placeholder {
  color: transparent;
}

.searchInput {
  width: 100%;
  align-self: stretch;
  padding: 4px 8px;
  color: $text-primary;
  font-size: 1.1rem;
  outline: none;
  border: none;

}